C3PR/projects/grid/AccrualService/schema/AccrualService/AccrualService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://accrualservice.grid.c3pr.cabig.duke.edu/AccrualService" xmlns:wsrp="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.xsd" xmlns:wsrlw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime-1.2-draft-01.wsdl" xmlns:wsdlpp="http://www.globus.org/namespaces/2004/10/WSDLPreprocessor" xmlns:gtwsdl1="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ServiceGroup-1.2-draft-01.wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/03/addressing" xmlns:wsntw="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification-1.2-draft-01.wsdl" xmlns:wsrbfw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.wsdl" xmlns:wsrpw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" xmlns:wns0="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" xmlns:wns1="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity" xmlns:ns1="http://accrualservice.grid.c3pr.cabig.duke.edu/AccrualService/types" xmlns:ns2="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.security" xmlns:ns0="gme://ccts.cabig/1.0/gov.nih.nci.cabig.ccts.domain" name="AccrualService" targetNamespace="http://accrualservice.grid.c3pr.cabig.duke.edu/AccrualService">
  <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" location="../wsrf/properties/WS-ResourceProperties.wsdl" />
  <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.wsdl" location="../wsrf/faults/WS-BaseFaults.wsdl" />
  <import namespace="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification-1.2-draft-01.wsdl" location="../wsrf/notification/WS-BaseN.wsdl" />
  <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" location="./../wsrf/properties/WS-ResourceProperties.wsdl" />
  <import namespace="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity" location="./ServiceSecurity.wsdl" />
  <!--============================================================

                      T Y P E S
                      
  ============================================================-->
  <types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsrbf="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.xsd" targetNamespace="http://accrualservice.grid.c3pr.cabig.duke.edu/AccrualService" elementFormDefault="qualified" attributeFormDefault="unqualified">
      <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.xsd" schemaLocation="../wsrf/faults/WS-BaseFaults.xsd" />
      <import namespace="http://accrualservice.grid.c3pr.cabig.duke.edu/AccrualService/types" schemaLocation="./AccrualServiceTypes.xsd" />
      <import namespace="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.security" schemaLocation="./xsd/cagrid/types/security/security.xsd" />
      <import namespace="gme://ccts.cabig/1.0/gov.nih.nci.cabig.ccts.domain" schemaLocation="./accrual-report.xsd" />
      <element name="GetSiteAccrualReportRequest">
        <complexType>
          <sequence>
            <element name="diseaseSiteName" type="xs:string" minOccurs="1" maxOccurs="1" />
            <element name="studyShortTitleText" type="xs:string" minOccurs="1" maxOccurs="1" />
            <element name="startDate">
              <complexType>
                <sequence>
                  <element ref="ns0:startDate" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
            <element name="endDate">
              <complexType>
                <sequence>
                  <element ref="ns0:endDate" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="GetSiteAccrualReportResponse">
        <complexType>
          <sequence>
            <element ref="ns0:siteAccrualReport" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="GetDiseaseSiteAccrualReportsRequest">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="GetDiseaseSiteAccrualReportsResponse">
        <complexType>
          <sequence>
            <element ref="ns0:diseaseSiteAccrualReport" minOccurs="1" maxOccurs="unbounded" />
          </sequence>
        </complexType>
      </element>
      <element name="GetSiteCtepIdRequest">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="GetSiteCtepIdResponse">
        <complexType>
          <sequence>
            <element name="response" type="xs:string" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="GetStudyAccrualReportsRequest">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="GetStudyAccrualReportsResponse">
        <complexType>
          <sequence>
            <element ref="ns0:studyAccrualReport" minOccurs="1" maxOccurs="unbounded" />
          </sequence>
        </complexType>
      </element>
      <element name="AccrualServiceResourceProperties">
        <complexType>
          <sequence />
        </complexType>
      </element>
    </schema>
  </types>
  <!--  place service messages here -->
  <message name="GetSiteAccrualReportRequest">
    <part name="parameters" element="tns:GetSiteAccrualReportRequest" />
  </message>
  <message name="GetSiteAccrualReportResponse">
    <part name="parameters" element="tns:GetSiteAccrualReportResponse" />
  </message>
  <message name="GetDiseaseSiteAccrualReportsRequest">
    <part name="parameters" element="tns:GetDiseaseSiteAccrualReportsRequest" />
  </message>
  <message name="GetDiseaseSiteAccrualReportsResponse">
    <part name="parameters" element="tns:GetDiseaseSiteAccrualReportsResponse" />
  </message>
  <message name="GetSiteCtepIdRequest">
    <part name="parameters" element="tns:GetSiteCtepIdRequest" />
  </message>
  <message name="GetSiteCtepIdResponse">
    <part name="parameters" element="tns:GetSiteCtepIdResponse" />
  </message>
  <message name="GetStudyAccrualReportsRequest">
    <part name="parameters" element="tns:GetStudyAccrualReportsRequest" />
  </message>
  <message name="GetStudyAccrualReportsResponse">
    <part name="parameters" element="tns:GetStudyAccrualReportsResponse" />
  </message>
  <!--============================================================

                       P O R T T Y P E
                      
  ============================================================-->
  <portType name="AccrualServicePortType" wsrp:ResourceProperties="tns:AccrualServiceResourceProperties">
    <operation name="getSiteAccrualReport">
      <input message="tns:GetSiteAccrualReportRequest" wsa:Action="http://accrualservice.grid.c3pr.cabig.duke.edu/AccrualService/GetSiteAccrualReportRequest" />
      <output message="tns:GetSiteAccrualReportResponse" wsa:Action="http://accrualservice.grid.c3pr.cabig.duke.edu/AccrualService/GetSiteAccrualReportResponse" />
    </operation>
    <operation name="getDiseaseSiteAccrualReports">
      <input message="tns:GetDiseaseSiteAccrualReportsRequest" wsa:Action="http://accrualservice.grid.c3pr.cabig.duke.edu/AccrualService/GetDiseaseSiteAccrualReportsRequest" />
      <output message="tns:GetDiseaseSiteAccrualReportsResponse" wsa:Action="http://accrualservice.grid.c3pr.cabig.duke.edu/AccrualService/GetDiseaseSiteAccrualReportsResponse" />
    </operation>
    <operation name="getSiteCtepId">
      <input message="tns:GetSiteCtepIdRequest" wsa:Action="http://accrualservice.grid.c3pr.cabig.duke.edu/AccrualService/GetSiteCtepIdRequest" />
      <output message="tns:GetSiteCtepIdResponse" wsa:Action="http://accrualservice.grid.c3pr.cabig.duke.edu/AccrualService/GetSiteCtepIdResponse" />
    </operation>
    <operation name="getStudyAccrualReports">
      <input message="tns:GetStudyAccrualReportsRequest" wsa:Action="http://accrualservice.grid.c3pr.cabig.duke.edu/AccrualService/GetStudyAccrualReportsRequest" />
      <output message="tns:GetStudyAccrualReportsResponse" wsa:Action="http://accrualservice.grid.c3pr.cabig.duke.edu/AccrualService/GetStudyAccrualReportsResponse" />
    </operation>
    <wsdl:operation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="GetMultipleResourceProperties">
      <wsdl:input name="GetMultipleResourcePropertiesRequest" message="wsrpw:GetMultipleResourcePropertiesRequest" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetMultipleResourceProperties" />
      <wsdl:output name="GetMultipleResourcePropertiesResponse" message="wsrpw:GetMultipleResourcePropertiesResponse" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetMultipleResourcePropertiesResponse" />
      <wsdl:fault name="ResourceUnknownFault" message="wsrpw:ResourceUnknownFault" />
      <wsdl:fault name="InvalidResourcePropertyQNameFault" message="wsrpw:InvalidResourcePropertyQNameFault" />
    </wsdl:operation>
    <wsdl:operation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="GetResourceProperty">
      <wsdl:input name="GetResourcePropertyRequest" message="wsrpw:GetResourcePropertyRequest" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetResourceProperty" />
      <wsdl:output name="GetResourcePropertyResponse" message="wsrpw:GetResourcePropertyResponse" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetResourcePropertyResponse" />
      <wsdl:fault name="ResourceUnknownFault" message="wsrpw:ResourceUnknownFault" />
      <wsdl:fault name="InvalidResourcePropertyQNameFault" message="wsrpw:InvalidResourcePropertyQNameFault" />
    </wsdl:operation>
    <wsdl:operation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="QueryResourceProperties">
      <wsdl:input name="QueryResourcePropertiesRequest" message="wsrpw:QueryResourcePropertiesRequest" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/QueryResourceProperties" />
      <wsdl:output name="QueryResourcePropertiesResponse" message="wsrpw:QueryResourcePropertiesResponse" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/QueryResourcePropertiesResponse" />
      <wsdl:fault name="ResourceUnknownFault" message="wsrpw:ResourceUnknownFault" />
      <wsdl:fault name="InvalidResourcePropertyQNameFault" message="wsrpw:InvalidResourcePropertyQNameFault" />
      <wsdl:fault name="UnknownQueryExpressionDialectFault" message="wsrpw:UnknownQueryExpressionDialectFault" />
      <wsdl:fault name="InvalidQueryExpressionFault" message="wsrpw:InvalidQueryExpressionFault" />
      <wsdl:fault name="QueryEvaluationErrorFault" message="wsrpw:QueryEvaluationErrorFault" />
    </wsdl:operation>
    <operation name="getServiceSecurityMetadata">
      <input message="wns1:GetServiceSecurityMetadataRequest" wsa:Action="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity/GetServiceSecurityMetadataRequest" />
      <output message="wns1:GetServiceSecurityMetadataResponse" wsa:Action="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity/GetServiceSecurityMetadataResponse" />
    </operation>
  </portType>
</definitions>

