codebase/projects/web/web/WEB-INF/wsdl/StudyUtility.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:jaxws="http://java.sun.com/xml/ns/jaxws" xmlns:tns="http://enterpriseservices.nci.nih.gov/StudyUtilityService"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:sm="http://enterpriseservices.nci.nih.gov/StudyUtilitySchema"
	xmlns:ISO="uri:iso.org:21090" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:common="http://enterpriseservices.nci.nih.gov/Common"
	xmlns:a="http://www.w3.org/2005/08/addressing" xmlns:t="http://docs.oasis-open.org/ws-sx/ws-trust/200512"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="StudyUtilityService"
	xsi:schemaLocation="http://java.sun.com/xml/ns/jaxws http://java.sun.com/xml/ns/jaxws/wsdl_customizationschema_2_0.xsd uri:iso.org:21090 ISO_datatypes_Narrative.xsd http://enterpriseservices.nci.nih.gov/StudyUtilitySchema StudyUtility.xsd http://schemas.xmlsoap.org/ws/2005/07/securitypolicy http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/ws-securitypolicy.xsd"
	targetNamespace="http://enterpriseservices.nci.nih.gov/StudyUtilityService">
	<jaxws:bindings>
		<jaxws:package name="edu.duke.cabig.c3pr.webservice.studyutility"></jaxws:package>
	</jaxws:bindings>
	<wsdl:types>
		<xsd:schema xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
			jaxb:version="2.1"
			targetNamespace="http://enterpriseservices.nci.nih.gov/StudyUtilityService">
			<xsd:annotation>
				<xsd:appinfo>
					<jaxb:schemaBindings>
						<jaxb:package name="edu.duke.cabig.c3pr.webservice.studyutility" />
					</jaxb:schemaBindings>
				</xsd:appinfo>
			</xsd:annotation>
			<xsd:import namespace="http://enterpriseservices.nci.nih.gov/StudyUtilitySchema"
				schemaLocation="StudyUtility.xsd" />
			<xsd:import namespace="uri:iso.org:21090" schemaLocation="ISO_datatypes_Narrative.xsd" />
			<xsd:import namespace="http://enterpriseservices.nci.nih.gov/Common" schemaLocation="Common.xsd"/>

			<xsd:element name="CreateStudyAbstractRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="study" type="common:StudyProtocolVersion" minOccurs="1"
							maxOccurs="1"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="CreateStudyAbstractResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="study" type="common:StudyProtocolVersion" minOccurs="1"
							maxOccurs="1"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="QueryStudyAbstractRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="parameters"
							type="common:DSET_AdvanceSearchCriterionParameter" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="QueryStudyAbstractResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="studies" type="sm:DSET_StudyProtocolVersion"
							minOccurs="1" maxOccurs="1"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="UpdateStudyAbstractRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="study" type="common:StudyProtocolVersion" minOccurs="1"
							maxOccurs="1"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="UpdateStudyAbstractResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="study" type="common:StudyProtocolVersion" minOccurs="1"
							maxOccurs="1"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="UpdateStudyStatusRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="studyIdentifier" type="common:DocumentIdentifier" minOccurs="1"
							maxOccurs="1"></xsd:element>					
						<xsd:element name="status" type="common:PermissibleStudySubjectRegistryStatus" minOccurs="1"
							maxOccurs="1"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="UpdateStudyStatusResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="status" type="common:PermissibleStudySubjectRegistryStatus" minOccurs="1"
							maxOccurs="1"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			<xsd:element name="UpdateStudyConsentRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="studyIdentifier" type="common:DocumentIdentifier" minOccurs="1"
							maxOccurs="1"></xsd:element>					
						<xsd:element name="consent" type="common:Consent" minOccurs="1"
							maxOccurs="1"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="UpdateStudyConsentResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="consent" type="common:Consent" minOccurs="1"
							maxOccurs="1"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="QueryStudyConsentRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="studyIdentifier" type="common:DocumentIdentifier" minOccurs="1"
							maxOccurs="1"></xsd:element>					
						<xsd:element name="consent" type="common:Consent" minOccurs="0"
							maxOccurs="1"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="QueryStudyConsentResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="consents" type="sm:DSET_Consent" minOccurs="1"
							maxOccurs="1"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="QueryStudyRegistryStatusRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="studyIdentifier" type="common:DocumentIdentifier" minOccurs="1"
							maxOccurs="1"></xsd:element>					
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="QueryStudyRegistryStatusResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="statuses" type="sm:DSET_PermissibleStudySubjectRegistryStatus" minOccurs="1"
							maxOccurs="1"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>			
			<xsd:element name="QueryRegistryStatusRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="statusCode" type="ISO:CD" minOccurs="0"
							maxOccurs="1"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="QueryRegistryStatusResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="registryStatuses" type="sm:DSET_RegistryStatus" minOccurs="1"
							maxOccurs="1"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>			
			<xsd:element name="StudyUtilityFault" type="tns:StudyUtilityFault"></xsd:element>
			<xsd:complexType name="StudyUtilityFault">
				<xsd:sequence>
					<xsd:element name="message" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="CreateStudyAbstractRequestMessage">
		<wsdl:part name="parameters" element="tns:CreateStudyAbstractRequest" />
	</wsdl:message>
	<wsdl:message name="CreateStudyAbstractResponseMessage">
		<wsdl:part name="parameters" element="tns:CreateStudyAbstractResponse" />
	</wsdl:message>
	<wsdl:message name="QueryStudyAbstractRequestMessage">
		<wsdl:part name="parameters" element="tns:QueryStudyAbstractRequest" />
	</wsdl:message>
	<wsdl:message name="QueryStudyAbstractResponseMessage">
		<wsdl:part name="parameters" element="tns:QueryStudyAbstractResponse" />
	</wsdl:message>
	<wsdl:message name="UpdateStudyAbstractRequestMessage">
		<wsdl:part name="parameters" element="tns:UpdateStudyAbstractRequest" />
	</wsdl:message>
	<wsdl:message name="UpdateStudyAbstractResponseMessage">
		<wsdl:part name="parameters" element="tns:UpdateStudyAbstractResponse" />
	</wsdl:message>
	<wsdl:message name="UpdateStudyStatusRequestMessage">
		<wsdl:part name="parameters" element="tns:UpdateStudyStatusRequest" />
	</wsdl:message>
	<wsdl:message name="UpdateStudyStatusResponseMessage">
		<wsdl:part name="parameters" element="tns:UpdateStudyStatusResponse" />
	</wsdl:message>	
	<wsdl:message name="UpdateStudyConsentRequestMessage">
		<wsdl:part name="parameters" element="tns:UpdateStudyConsentRequest" />
	</wsdl:message>
	<wsdl:message name="UpdateStudyConsentResponseMessage">
		<wsdl:part name="parameters" element="tns:UpdateStudyConsentResponse" />
	</wsdl:message>	
	<wsdl:message name="QueryStudyConsentRequestMessage">
		<wsdl:part name="parameters" element="tns:QueryStudyConsentRequest" />
	</wsdl:message>
	<wsdl:message name="QueryStudyConsentResponseMessage">
		<wsdl:part name="parameters" element="tns:QueryStudyConsentResponse" />
	</wsdl:message>
	<wsdl:message name="QueryRegistryStatusRequestMessage">
		<wsdl:part name="parameters" element="tns:QueryRegistryStatusRequest" />
	</wsdl:message>
	<wsdl:message name="QueryRegistryStatusResponseMessage">
		<wsdl:part name="parameters" element="tns:QueryRegistryStatusResponse" />
	</wsdl:message>
	<wsdl:message name="QueryStudyRegistryStatusRequestMessage">
		<wsdl:part name="parameters" element="tns:QueryStudyRegistryStatusRequest" />
	</wsdl:message>
	<wsdl:message name="QueryStudyRegistryStatusResponseMessage">
		<wsdl:part name="parameters" element="tns:QueryStudyRegistryStatusResponse" />
	</wsdl:message>	
		

	<!-- Fault Messages -->
	<wsdl:message name="StudyUtilityFaultMessage">
		<wsdl:part name="fault" element="tns:StudyUtilityFault"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="SecurityExceptionFaultMessage">
		<wsdl:part name="fault" element="common:SecurityExceptionFault"></wsdl:part>
	</wsdl:message>	

	<wsdl:portType name="StudyUtility">
		<wsdl:operation name="createStudyAbstract">
			<wsdl:input message="tns:CreateStudyAbstractRequestMessage" />
			<wsdl:output message="tns:CreateStudyAbstractResponseMessage" />
			<wsdl:fault message="tns:StudyUtilityFaultMessage"
				name="StudyUtilityException" />
			<wsdl:fault message="tns:SecurityExceptionFaultMessage"
				name="SecurityException" />				
		</wsdl:operation>
		<wsdl:operation name="queryStudyAbstract">
			<wsdl:input message="tns:QueryStudyAbstractRequestMessage" />
			<wsdl:output message="tns:QueryStudyAbstractResponseMessage" />
			<wsdl:fault message="tns:StudyUtilityFaultMessage"
				name="StudyUtilityException" />
			<wsdl:fault message="tns:SecurityExceptionFaultMessage"
				name="SecurityException" />
		</wsdl:operation>
		<wsdl:operation name="updateStudyAbstract">
			<wsdl:input message="tns:UpdateStudyAbstractRequestMessage" />
			<wsdl:output message="tns:UpdateStudyAbstractResponseMessage" />
			<wsdl:fault message="tns:StudyUtilityFaultMessage"
				name="StudyUtilityException" />
			<wsdl:fault message="tns:SecurityExceptionFaultMessage"
				name="SecurityException" />
		</wsdl:operation>
		<wsdl:operation name="updateStudyStatus">
			<wsdl:input message="tns:UpdateStudyStatusRequestMessage" />
			<wsdl:output message="tns:UpdateStudyStatusResponseMessage" />
			<wsdl:fault message="tns:StudyUtilityFaultMessage"
				name="StudyUtilityException" />
			<wsdl:fault message="tns:SecurityExceptionFaultMessage"
				name="SecurityException" />
		</wsdl:operation>		
		<wsdl:operation name="updateStudyConsent">
			<wsdl:input message="tns:UpdateStudyConsentRequestMessage" />
			<wsdl:output message="tns:UpdateStudyConsentResponseMessage" />
			<wsdl:fault message="tns:StudyUtilityFaultMessage"
				name="StudyUtilityException" />
			<wsdl:fault message="tns:SecurityExceptionFaultMessage"
				name="SecurityException" />
		</wsdl:operation>
		<wsdl:operation name="queryStudyConsent">
			<wsdl:input message="tns:QueryStudyConsentRequestMessage" />
			<wsdl:output message="tns:QueryStudyConsentResponseMessage" />
			<wsdl:fault message="tns:StudyUtilityFaultMessage"
				name="StudyUtilityException" />
			<wsdl:fault message="tns:SecurityExceptionFaultMessage"
				name="SecurityException" />
		</wsdl:operation>
		<wsdl:operation name="queryRegistryStatus">
			<wsdl:input message="tns:QueryRegistryStatusRequestMessage" />
			<wsdl:output message="tns:QueryRegistryStatusResponseMessage" />
			<wsdl:fault message="tns:StudyUtilityFaultMessage"
				name="StudyUtilityException" />
			<wsdl:fault message="tns:SecurityExceptionFaultMessage"
				name="SecurityException" />
		</wsdl:operation>
		<wsdl:operation name="queryStudyRegistryStatus">
			<wsdl:input message="tns:QueryStudyRegistryStatusRequestMessage" />
			<wsdl:output message="tns:QueryStudyRegistryStatusResponseMessage" />
			<wsdl:fault message="tns:StudyUtilityFaultMessage"
				name="StudyUtilityException" />
			<wsdl:fault message="tns:SecurityExceptionFaultMessage"
				name="SecurityException" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="StudyUtilitySOAP" type="tns:StudyUtility">
		<wsp:Policy
			xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
			xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
			<wsp:ExactlyOne>
				<wsp:All>
					<sp:TransportBinding>
						<wsp:Policy>
							<sp:TransportToken>
								<wsp:Policy>
									<sp:HttpsToken RequireClientCertificate="false" />
								</wsp:Policy>
							</sp:TransportToken>
							<sp:AlgorithmSuite>
								<wsp:Policy>
									<sp:Basic256Rsa15 />
								</wsp:Policy>
							</sp:AlgorithmSuite>
						</wsp:Policy>
					</sp:TransportBinding>

					<sp:SupportingTokens>
						<wsp:Policy>
							<sp:IssuedToken
								sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
								<sp:RequestSecurityTokenTemplate>
									<t:TokenType>urn:oasis:names:tc:SAML:1.0:assertion</t:TokenType>
									<t:KeyType>http://docs.oasis-open.org/ws-sx/ws-trust/200512/Bearer</t:KeyType>
								</sp:RequestSecurityTokenTemplate>
							</sp:IssuedToken>
						</wsp:Policy>
					</sp:SupportingTokens>

					<sp:Trust13>
						<wsp:Policy>
							<wsp:ExactlyOne>
								<wsp:All>
									<sp:MustSupportIssuedTokens />
								</wsp:All>
							</wsp:ExactlyOne>
						</wsp:Policy>
					</sp:Trust13>
				</wsp:All>
			</wsp:ExactlyOne>
		</wsp:Policy>
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="createStudyAbstract">
			<soap:operation style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="SecurityException">
				<soap:fault name="SecurityException" />
			</wsdl:fault>			
			<wsdl:fault name="StudyUtilityException">
				<soap:fault name="StudyUtilityException" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="queryStudyAbstract">
			<soap:operation style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="SecurityException">
				<soap:fault name="SecurityException" />
			</wsdl:fault>			
			<wsdl:fault name="StudyUtilityException">
				<soap:fault name="StudyUtilityException" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="updateStudyAbstract">
			<soap:operation style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="SecurityException">
				<soap:fault name="SecurityException" />
			</wsdl:fault>			
			<wsdl:fault name="StudyUtilityException">
				<soap:fault name="StudyUtilityException" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="updateStudyStatus">
			<soap:operation style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="SecurityException">
				<soap:fault name="SecurityException" />
			</wsdl:fault>			
			<wsdl:fault name="StudyUtilityException">
				<soap:fault name="StudyUtilityException" />
			</wsdl:fault>
		</wsdl:operation>		
		<wsdl:operation name="updateStudyConsent">
			<soap:operation style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="SecurityException">
				<soap:fault name="SecurityException" />
			</wsdl:fault>			
			<wsdl:fault name="StudyUtilityException">
				<soap:fault name="StudyUtilityException" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="queryStudyConsent">
			<soap:operation style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="SecurityException">
				<soap:fault name="SecurityException" />
			</wsdl:fault>			
			<wsdl:fault name="StudyUtilityException">
				<soap:fault name="StudyUtilityException" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="queryRegistryStatus">
			<soap:operation style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="SecurityException">
				<soap:fault name="SecurityException" />
			</wsdl:fault>			
			<wsdl:fault name="StudyUtilityException">
				<soap:fault name="StudyUtilityException" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="queryStudyRegistryStatus">
			<soap:operation style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="SecurityException">
				<soap:fault name="SecurityException" />
			</wsdl:fault>			
			<wsdl:fault name="StudyUtilityException">
				<soap:fault name="StudyUtilityException" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="StudyUtilityService">
		<wsdl:port name="StudyUtility" binding="tns:StudyUtilitySOAP">
			<soap:address location="REPLACE_WITH_ACTUAL_URL" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>