codebase/projects/web/web/WEB-INF/wsdl/StudyImportExport.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:jaxws="http://java.sun.com/xml/ns/jaxws"
	xmlns:tns="http://enterpriseservices.nci.nih.gov/StudyImportExportService"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"	
	xmlns:a="http://www.w3.org/2005/08/addressing"
	xmlns:t="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:c3pr="gme://ccts.cabig/1.0/gov.nih.nci.cabig.ccts.domain"	
	xmlns:common="http://enterpriseservices.nci.nih.gov/Common"
	name="StudyImportExportService"
	xsi:schemaLocation="gme://ccts.cabig/1.0/gov.nih.nci.cabig.ccts.domain c3pr-domain.xsd http://enterpriseservices.nci.nih.gov/Common Common.xsd http://java.sun.com/xml/ns/jaxws http://java.sun.com/xml/ns/jaxws/wsdl_customizationschema_2_0.xsd http://schemas.xmlsoap.org/ws/2005/07/securitypolicy http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/ws-securitypolicy.xsd"
	targetNamespace="http://enterpriseservices.nci.nih.gov/StudyImportExportService">
	
	<jaxws:bindings>
		<jaxws:package name="edu.duke.cabig.c3pr.webservice.studyimportexport"></jaxws:package>
	</jaxws:bindings>
	<wsdl:types>
		<xsd:schema xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
			jaxb:version="2.1"
			targetNamespace="http://enterpriseservices.nci.nih.gov/StudyImportExportService">
			<xsd:annotation>
				<xsd:appinfo>
					<jaxb:schemaBindings>
						<jaxb:package name="edu.duke.cabig.c3pr.webservice.studyimportexport" />
					</jaxb:schemaBindings>
				</xsd:appinfo>
			</xsd:annotation>
			<xsd:import namespace="gme://ccts.cabig/1.0/gov.nih.nci.cabig.ccts.domain"
				schemaLocation="classpath:/c3pr-domain.xsd" />
			<xsd:import namespace="http://enterpriseservices.nci.nih.gov/Common"
				schemaLocation="Common.xsd" />
								
			<xsd:element name="ImportStudyRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="c3pr:study"
							minOccurs="1" maxOccurs="1"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ImportStudyResponse">
				<xsd:complexType>
					<xsd:sequence/>					
				</xsd:complexType>
			</xsd:element>
			
			<xsd:element name="ExportStudyRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="identifier" type="c3pr:OrganizationAssignedIdentifierType"
							minOccurs="1" maxOccurs="1"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ExportStudyResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="c3pr:study"
							minOccurs="1" maxOccurs="1"></xsd:element>
					</xsd:sequence>					
				</xsd:complexType>
			</xsd:element>
			
			<xsd:element name="StudyImportExportFault" type="tns:StudyImportExportFault"></xsd:element>
			<xsd:complexType name="StudyImportExportFault">
				<xsd:sequence>
					<xsd:element name="message" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="ImportStudyRequestMessage">
		<wsdl:part name="parameters" element="tns:ImportStudyRequest" />
	</wsdl:message>
	<wsdl:message name="ImportStudyResponseMessage">
		<wsdl:part name="parameters" element="tns:ImportStudyResponse" />
	</wsdl:message>
	<wsdl:message name="ExportStudyRequestMessage">
		<wsdl:part name="parameters" element="tns:ExportStudyRequest" />
	</wsdl:message>
	<wsdl:message name="ExportStudyResponseMessage">
		<wsdl:part name="parameters" element="tns:ExportStudyResponse" />
	</wsdl:message>	

	<!-- Fault Messages -->
	<wsdl:message name="StudyImportExportFaultMessage">
		<wsdl:part name="fault" element="tns:StudyImportExportFault"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="SecurityExceptionFaultMessage">
		<wsdl:part name="fault" element="common:SecurityExceptionFault"></wsdl:part>
	</wsdl:message>

	<wsdl:portType name="StudyImportExport">
		<wsdl:operation name="importStudy">
			<wsdl:input message="tns:ImportStudyRequestMessage" />
			<wsdl:output message="tns:ImportStudyResponseMessage" />
			<wsdl:fault message="tns:SecurityExceptionFaultMessage"
				name="SecurityException" />
			<wsdl:fault message="tns:StudyImportExportFaultMessage"
				name="StudyImportExportException" />
		</wsdl:operation>
		<wsdl:operation name="exportStudy">
			<wsdl:input message="tns:ExportStudyRequestMessage" />
			<wsdl:output message="tns:ExportStudyResponseMessage" />
			<wsdl:fault message="tns:SecurityExceptionFaultMessage"
				name="SecurityException" />
			<wsdl:fault message="tns:StudyImportExportFaultMessage"
				name="StudyImportExportException" />
		</wsdl:operation>		
	</wsdl:portType>

	<wsdl:binding name="StudyImportExportSOAP" type="tns:StudyImportExport">
		<wsp:Policy xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
			xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
			<wsp:ExactlyOne>
				<wsp:All>
					<sp:TransportBinding>
						<wsp:Policy>
							<sp:TransportToken>
								<wsp:Policy>
									<sp:HttpsToken RequireClientCertificate="false" />
								</wsp:Policy>
							</sp:TransportToken>
							<sp:AlgorithmSuite>
								<wsp:Policy>
									<sp:Basic256Rsa15 />
								</wsp:Policy>
							</sp:AlgorithmSuite>
						</wsp:Policy>
					</sp:TransportBinding>
					
					<sp:SupportingTokens>
						<wsp:Policy>
							<sp:IssuedToken sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
								<sp:RequestSecurityTokenTemplate>
									<t:TokenType>urn:oasis:names:tc:SAML:1.0:assertion</t:TokenType>
									<t:KeyType>http://docs.oasis-open.org/ws-sx/ws-trust/200512/Bearer</t:KeyType>								
								</sp:RequestSecurityTokenTemplate>								
							</sp:IssuedToken>
						</wsp:Policy>
					</sp:SupportingTokens>
					
					<sp:Trust13>
						<wsp:Policy>
							<wsp:ExactlyOne>
								<wsp:All>
									<sp:MustSupportIssuedTokens />
								</wsp:All>
							</wsp:ExactlyOne>
						</wsp:Policy>
					</sp:Trust13>
				</wsp:All>
			</wsp:ExactlyOne>
		</wsp:Policy>
		
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="importStudy">
			<soap:operation style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="SecurityException">
				<soap:fault name="SecurityException" />
			</wsdl:fault>
			<wsdl:fault name="StudyImportExportException">
				<soap:fault name="StudyImportExportException" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="exportStudy">
			<soap:operation style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="SecurityException">
				<soap:fault name="SecurityException" />
			</wsdl:fault>
			<wsdl:fault name="StudyImportExportException">
				<soap:fault name="StudyImportExportException" />
			</wsdl:fault>
		</wsdl:operation>		
	</wsdl:binding>
	<wsdl:service name="StudyImportExportService">
		<wsdl:port name="StudyImportExport" binding="tns:StudyImportExportSOAP">
			<soap:address location="TBD" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>