codebase/projects/ws-client/misc/1.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.xmlsoap.org/ws/2005/02/trust" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wst="http://schemas.xmlsoap.org/ws/2005/02/trust"><xs:element name="RequestSecurityToken" type="wst:RequestSecurityTokenType"/><xs:complexType name="RequestSecurityTokenType"><xs:choice minOccurs="0" maxOccurs="unbounded"><xs:any minOccurs="0" maxOccurs="unbounded" namespace="##any" processContents="lax"/></xs:choice><xs:attribute name="Context" type="xs:anyURI" use="optional"/><xs:anyAttribute namespace="##other" processContents="lax"/></xs:complexType><xs:element name="RequestSecurityTokenResponse" type="wst:RequestSecurityTokenResponseType"/><xs:complexType name="RequestSecurityTokenResponseType"><xs:choice minOccurs="0" maxOccurs="unbounded"><xs:any minOccurs="0" maxOccurs="unbounded" namespace="##any" processContents="lax"/></xs:choice><xs:attribute name="Context" type="xs:anyURI" use="optional"/><xs:anyAttribute namespace="##other" processContents="lax"/></xs:complexType></xs:schema>