codebase/projects/ws-client/misc/2.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified" targetNamespace="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:trust="http://docs.oasis-open.org/ws-sx/ws-trust/200512"><xs:element name="RequestSecurityToken" type="trust:RequestSecurityTokenType"/><xs:complexType name="RequestSecurityTokenType"><xs:choice minOccurs="0" maxOccurs="unbounded"><xs:any minOccurs="0" maxOccurs="unbounded" namespace="##any" processContents="lax"/></xs:choice><xs:attribute name="Context" type="xs:anyURI" use="optional"/><xs:anyAttribute namespace="##other" processContents="lax"/></xs:complexType><xs:element name="RequestSecurityTokenResponse" type="trust:RequestSecurityTokenResponseType"/><xs:complexType name="RequestSecurityTokenResponseType"><xs:choice minOccurs="0" maxOccurs="unbounded"><xs:any minOccurs="0" maxOccurs="unbounded" namespace="##any" processContents="lax"/></xs:choice><xs:attribute name="Context" type="xs:anyURI" use="optional"/><xs:anyAttribute namespace="##other" processContents="lax"/></xs:complexType><xs:element name="RequestSecurityTokenResponseCollection" type="trust:RequestSecurityTokenResponseCollectionType"/><xs:complexType name="RequestSecurityTokenResponseCollectionType"><xs:sequence><xs:element minOccurs="1" maxOccurs="unbounded" ref="trust:RequestSecurityTokenResponse"/></xs:sequence><xs:anyAttribute namespace="##other" processContents="lax"/></xs:complexType></xs:schema>