codebase/projects/core/resources/xsd/c3pr-domain.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--Created with Liquid XML Studio 6.1.13.0 - FREE Community Edition (http://www.liquid-technologies.com)-->
<xs:schema xmlns="gme://ccts.cabig/1.0/gov.nih.nci.cabig.ccts.domain" elementFormDefault="qualified" targetNamespace="gme://ccts.cabig/1.0/gov.nih.nci.cabig.ccts.domain" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:annotation>
    <xs:documentation xml:lang="en">C3PR domain schema</xs:documentation>
  </xs:annotation>
  <xs:element name="registration" type="Registration" />
  <xs:element name="study" type="Study" />
  <xs:element name="studyAmendment" type="StudyAmendmentType" />
  <xs:element name="subject" type="SubjectType" />
  <!--for import-->
  <xs:element name="subjects">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="unbounded" name="subject" type="SubjectType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="healthcareSites">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="unbounded" name="healthcareSite" type="HealthcareSiteType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="investigators">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="unbounded" name="investigator" type="InvestigatorType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="studies">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="study" type="Study" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="registrations">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="unbounded" name="registration" type="Registration" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <!-- for grid messaging -->
  <xs:element name="Message">
    <xs:complexType>
      <xs:sequence>
        <xs:any namespace="gme://ccts.cabig/1.0/gov.nih.nci.cabig.ccts.domain" processContents="strict" maxOccurs="unbounded" minOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="AddressType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="streetAddress" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="city" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="stateCode" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="postalCode" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="countryCode" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArmType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="name" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="descriptionText" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="targetAccrualNumber" type="xs:int" />
    </xs:sequence>
    <xs:attribute name="gridId" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="DiseaseTermType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="term" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="ctepTerm" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="medraCode" type="xs:long" />
    </xs:sequence>
    <xs:attribute name="gridId" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="EligibilityCriteriaType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="notApplicableIndicator" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="questionNumber" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="questionText" type="xs:string" />
    </xs:sequence>
    <xs:attribute name="gridId" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="EpochType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="name" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="epochOrder" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="descriptionText" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="accrualCeiling" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="stratificationIndicator" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="randomizedIndicator" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="type" type="EpochTypeEnum" />
      <xs:element minOccurs="0" maxOccurs="1" name="enrollmentIndicator" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="arm" type="ArmType" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="eligibilityCriteria" type="EligibilityCriteriaType"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="stratificationCriteria" type="StratificationCriterionType" />
      <xs:element minOccurs="0" maxOccurs="1" name="randomization" type="RandomizationType"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="stratumGroup" type="StratumGroupType" />
    </xs:sequence>
    <xs:attribute name="gridId" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="ExclusionEligibilityCriteriaType">
    <xs:complexContent mixed="false">
      <xs:extension base="EligibilityCriteriaType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="HealthcareSiteType" abstract="true">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="name" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="descriptionText" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="address" type="AddressType" />
      <xs:element minOccurs="1" maxOccurs="unbounded" name="identifier" type="IdentifierType"/>
    </xs:sequence>
    <xs:attribute name="gridId" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="HealthcareSiteInvestigatorType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="investigator" type="InvestigatorType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InvestigatorType" abstract="true">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="assignedIdentifier" type="xs:string" />
      <xs:element name="firstName" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="lastName" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="email" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="phoneNumber" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="faxNumber" type="xs:string" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InclusionEligibilityCriteriaType">
    <xs:complexContent mixed="false">
      <xs:extension base="EligibilityCriteriaType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="IdentifierType" abstract="true">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="value" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" default="false" name="primaryIndicator" type="xs:boolean" />
    </xs:sequence>
    <xs:attribute name="gridId" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="OrganizationAssignedIdentifierType">
    <xs:complexContent mixed="false">
      <xs:extension base="IdentifierType">
        <xs:sequence>
          <xs:element minOccurs="0" name="healthcareSite" type="HealthcareSiteType" />
          <xs:element minOccurs="1" maxOccurs="1" name="type" type="OrganizationAssignedIdentifierTypeValue" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SystemAssignedIdentifierType">
    <xs:complexContent mixed="false">
      <xs:extension base="IdentifierType">
        <xs:sequence>
          <xs:element minOccurs="1" name="systemName" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="type" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="LocalHealthcareSiteType">
    <xs:complexContent mixed="false">
      <xs:extension base="HealthcareSiteType">
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="RemoteHealthcareSiteType">
    <xs:complexContent mixed="false">
      <xs:extension base="HealthcareSiteType">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="externalId" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="remoteSystemStatusCode" type="CoppaStatus" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="CoppaStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Pending" />
      <xs:enumeration value="Active" />
      <xs:enumeration value="Inactive" />
      <xs:enumeration value="Nullified" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="EpochTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SCREENING" />
      <xs:enumeration value="TREATMENT" />
      <xs:enumeration value="FOLLOWUP" />
      <xs:enumeration value="RESERVING" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="LocalInvestigatorType">
    <xs:complexContent mixed="false">
      <xs:extension base="InvestigatorType">
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="RemoteInvestigatorType">
    <xs:complexContent mixed="false">
      <xs:extension base="InvestigatorType">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="externalId" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SubjectType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="firstName" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="lastName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="address" type="AddressType" />
      <xs:element minOccurs="1" maxOccurs="1" name="administrativeGenderCode" type="GenderCodeType" />
      <xs:element minOccurs="1" maxOccurs="1" name="birthDate" type="xs:date" />
      <xs:element minOccurs="1" maxOccurs="1" name="ethnicGroupCode" type="EthnicGroupCodeType" />
      <xs:element minOccurs="1" maxOccurs="unbounded" name="raceCode" type="RaceCodeType" />
      <xs:element minOccurs="1" maxOccurs="unbounded" name="identifier" type="IdentifierType"/>
    </xs:sequence>
    <xs:attribute name="gridId" type="xs:string" />
  </xs:complexType>
  <xs:simpleType name="RaceCodeType">
  	<xs:restriction base="xs:string">
      <xs:enumeration value="Asian" />
      <xs:enumeration value="White" />
      <xs:enumeration value="Black_or_African_American" />
      <xs:enumeration value="American_Indian_or_Alaska_Native" />
      <xs:enumeration value="Native_Hawaiian_or_Pacific_Islander" />
      <xs:enumeration value="Not_Reported" />
      <xs:enumeration value="Unknown" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="EthnicGroupCodeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Hispanic or Latino" />
      <xs:enumeration value="Non Hispanic or Latino" />
      <xs:enumeration value="Not Reported" />
      <xs:enumeration value="Unknown" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="PhaseCodeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Pilot" />
      <xs:enumeration value="Phase 0 Trial" />
      <xs:enumeration value="Phase I Trial" />
      <xs:enumeration value="Phase I/II Trial" />
      <xs:enumeration value="Phase II Trial" />
      <xs:enumeration value="Phase II/III Trial" />
      <xs:enumeration value="Phase III Trial" />
      <xs:enumeration value="Phase IV Trial" />
      <xs:enumeration value="N/A" />
      <xs:enumeration value="Other" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="GenderCodeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Male" />
      <xs:enumeration value="Female" />
      <xs:enumeration value="Unknown" />
      <xs:enumeration value="Not Reported" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="RandomizationTypeValue">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PHONE_CALL" />
      <xs:enumeration value="BOOK" />
      <xs:enumeration value="CALL_OUT" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Registration">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="studyIdentifiers" type="IdentifiersType" >
        <xs:annotation>
          <xs:documentation>Study identifiers to uniquely identify the study on the which the subject is/will register(ed).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="studyVersion" type="xs:string" >
        <xs:annotation>
          <xs:documentation>
            Study version name to determine which version of the study, subject is/will register(ed).This field is to facilitate registration on
            an amended version of the study. If this is not provided then the latest study version/amendment will be used. 
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="subject" type="SubjectType" >
        <xs:annotation>
          <xs:documentation>
            Subject/Partcipant details. 
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="site" type="HealthcareSiteType" >
        <xs:annotation>
          <xs:documentation>
            Study Site details on which the subject will be registered.  
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="startDate" type="xs:date" >
        <xs:annotation>
          <xs:documentation>
            Registration Date. 
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="unbounded" name="informedConsent" type="InformedConsentType" >
        <xs:annotation>
          <xs:documentation>
            Informed Consent Details. 
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="identifier" type="IdentifierType">
        <xs:annotation>
          <xs:documentation>
            Registration identifers. There are the identifiers assigned to a subject on a study, e.g. C3D patient position.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="status" type="RegWorkflowStatusType" >
        <xs:annotation>
          <xs:documentation>
            Registration Status 
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="scheduledEpoch" type="ScheduledEpochType">
        <xs:annotation>
          <xs:documentation>
            Assignement details including arm. 
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="enrollingPhysician" type="StudyInvestigatorType" >
        <xs:annotation>
          <xs:documentation>
            Enrolling physcian details. The physician should be available in C3PR.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="otherEnrollingPhysician" type="xs:string" >
        <xs:annotation>
          <xs:documentation>
            Enrolling physican name, in case the physician is not present in C3PR. 
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="offStudyDate" type="xs:date" />
      <xs:element minOccurs="0" maxOccurs="1" name="diseaseHistory" type="DiseaseHistoryType" />
      <xs:element minOccurs="0" maxOccurs="1" name="paymentMethod" type="PaymentMethodType" />
    </xs:sequence>
    <xs:attribute name="gridId" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="InformedConsentType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="consent" type="Consent"/>
      <xs:element minOccurs="1" maxOccurs="1" name="informedConsentFormSignedDate" type="xs:date" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="RegDataEntryStatusType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="INCOMPLETE" />
      <xs:enumeration value="COMPLETE" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="RegWorkflowStatusType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PENDING" />
      <xs:enumeration value="RESERVED" />
      <xs:enumeration value="REGISTERED_BUT_NOT_ENROLLED" />
      <xs:enumeration value="ENROLLED" />
      <xs:enumeration value="OFF_STUDY" />
      <xs:enumeration value="INVALID" />
    </xs:restriction>
  </xs:simpleType>
  
  <xs:complexType name="StratumGroupType">
    <xs:sequence>
       <xs:element minOccurs="0" maxOccurs="1" name="currentPosition" type="xs:integer" />
       <xs:element minOccurs="0" maxOccurs="1" name="stratumGroupNumber" type="xs:integer" />
    </xs:sequence>
    <xs:attribute name="gridId" type="xs:string" />
  </xs:complexType>
  
  <xs:complexType name="ScheduledEpochType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="startDate" type="xs:date" />
      <xs:element minOccurs="1" maxOccurs="1" name="epoch" type="EpochType"/>
      <xs:element minOccurs="0" maxOccurs="1" name="scheduledArm" type="ScheduledArmType" />
      <xs:element minOccurs="0" maxOccurs="1" name="eligibilityIndicator" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="stratumGroup" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="offEpochDate" type="xs:date" />
    </xs:sequence>
    <xs:attribute name="gridId" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="ScheduledArmType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="arm" type="ArmType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Study">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="blindedIndicator" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="multiInstitutionIndicator" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="randomizedIndicator" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="randomizationType" type="RandomizationTypeValue" />
      <xs:element minOccurs="1" maxOccurs="1" name="stratificationIndicator" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="standaloneIndicator" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="companionIndicator" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="shortTitleText" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="longTitleText" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="descriptionText" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="precisText" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="phaseCode" type="PhaseCodeType" />
      <xs:element minOccurs="0" maxOccurs="1" name="coordinatingCenterStudyStatus" type="CoordinatingCenterStudyStatusType" />
      <xs:element minOccurs="1" maxOccurs="1" name="type" type="studyType" />
      <xs:element minOccurs="1" maxOccurs="1" name="targetAccrualNumber" type="xs:integer" />
      <xs:element minOccurs="1" maxOccurs="unbounded" name="identifier" type="IdentifierType"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="epoch" type="EpochType"/>
      <xs:element minOccurs="1" maxOccurs="unbounded" name="studyOrganization" type="StudyOrganizationType"/>
      
      <xs:element minOccurs="0" maxOccurs="unbounded" name="companionStudy" type="CompanionStudyAssignmentType"/>
      
      <xs:element minOccurs="0" maxOccurs="unbounded" name="studyDisease" type="StudyDiseaseType"/>
      <xs:element minOccurs="1" maxOccurs="unbounded" name="consent" type="Consent"/>
    </xs:sequence>
    <xs:attribute name="gridId" type="xs:string" />
    <!-- TODO: Added as a quick workaround for CCTS Remote Study Broadcast. -->
    <xs:attribute name="externalId" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="Consent">
    <xs:sequence>
      <xs:element name="name" minOccurs="1" maxOccurs="1" type="xs:string"/>
      <xs:element name="mandatoryIndicator" minOccurs="0" maxOccurs="1" type="xs:boolean"></xs:element>
      <xs:element name="versionId" minOccurs="0" maxOccurs="1" type="xs:string"></xs:element>      
      <xs:element name="descriptionText" minOccurs="0" maxOccurs="1" type="xs:string"></xs:element>
      <xs:element name="consentingMethod" minOccurs="0" maxOccurs="2" type="ConsentingMethod"></xs:element>
      <xs:element name="consentQuestion" minOccurs="0" maxOccurs="unbounded" type="ConsentQuestion"></xs:element>
    </xs:sequence>
    <xs:attribute name="gridId" type="xs:string" />
  </xs:complexType>
  <xs:simpleType name="ConsentingMethod">
	<xs:restriction base="xs:string">
      <xs:enumeration value="WRITTEN" />
      <xs:enumeration value="VERBAL" />      
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ConsentQuestion">
    <xs:sequence>
      <xs:element name="text" type="xs:string"/>
      <xs:element name="code" type="xs:string"/>
    </xs:sequence>
    <xs:attribute name="gridId" type="xs:string" />
  </xs:complexType>  
  <xs:complexType name="StudyAmendmentType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="studyIdentifiers" type="IdentifiersType"/>
      <xs:element minOccurs="1" maxOccurs="1" name="versionDate" type="xs:date" />
      <xs:element minOccurs="1" maxOccurs="1" name="amendmentType" type="AmendmentType" />
      <xs:element minOccurs="1" maxOccurs="1" name="versionName" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="shortTitleText" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="longTitleText" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="descriptionText" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="precisText" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="randomizationType" type="RandomizationType" />
      <xs:element minOccurs="1" maxOccurs="unbounded" name="amendmentReason" type="AmendmentReasonType"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="epoch" type="EpochType"/>
      
      <xs:element minOccurs="0" maxOccurs="unbounded" name="companionStudy" type="CompanionStudyAssignmentType"/>
      
      <xs:element minOccurs="0" maxOccurs="unbounded" name="studyDisease" type="StudyDiseaseType"/>
    </xs:sequence>
    <xs:attribute name="gridId" type="xs:string" />
  </xs:complexType>
  <xs:simpleType name="AmendmentType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="IMMEDIATE" />
      <xs:enumeration value="IMMEDIATE_AFTER_GRACE_PERIOD" />
      <xs:enumeration value="OPTIONAL" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AmendmentReasonType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="COMPANION" />
      <xs:enumeration value="CONSENT" />
      <xs:enumeration value="DESIGN" />
      <xs:enumeration value="DETAIL" />
      <xs:enumeration value="DISEASE" />
      <xs:enumeration value="ELIGIBILITY" />
      <xs:enumeration value="RANDOMIZATION" />
      <xs:enumeration value="STRATIFICATION" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="StatusType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Active" />
      <xs:enumeration value="Inactive" />
    </xs:restriction>
  </xs:simpleType>
  
  <xs:complexType name="CompanionStudyAssignmentType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="study" type="Study" />
      <xs:element minOccurs="1" maxOccurs="1" name="mandatoryIndicator" type="xs:string" />
    </xs:sequence>
    <xs:attribute name="gridId" type="xs:string" />
  </xs:complexType>
  
  <xs:complexType name="IdentifiersType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="unbounded" name="identifier" type="IdentifierType"/>
    </xs:sequence>
    <xs:attribute name="gridId" type="xs:string" />
  </xs:complexType>
  <xs:simpleType name="StudyDataEntryStatusType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="INCOMPLETE" />
      <xs:enumeration value="COMPLETE" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="studyType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AE" />
      <xs:enumeration value="Ancillary" />
      <xs:enumeration value="Basic Science" />
      <xs:enumeration value="Correlative" />
      <xs:enumeration value="Diagnostic" />
      <xs:enumeration value="Early Detection" />
      <xs:enumeration value="Epidemiologic" />
      <xs:enumeration value="Genetic Non-therapeutic" />
      <xs:enumeration value="Genetic Therapeutic" />
      <xs:enumeration value="Health Services Research" />
      <xs:enumeration value="Interventional" />
      <xs:enumeration value="Observational" />
      <xs:enumeration value="Outcome" />
      <xs:enumeration value="Other" />
      <xs:enumeration value="Primary Treatment" />
      <xs:enumeration value="Supportive Care" />
      <xs:enumeration value="Supportive" />
      <xs:enumeration value="Screening" />
      <xs:enumeration value="Preventive" />
      <xs:enumeration value="Treatment" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="CoordinatingCenterStudyStatusType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="OPEN" />
      <xs:enumeration value="PENDING" />
      <xs:enumeration value="AMENDMENT_PENDING" />
      <xs:enumeration value="CLOSED_TO_ACCRUAL_AND_TREATMENT" />
      <xs:enumeration value="CLOSED_TO_ACCRUAL" />
      <xs:enumeration value="TEMPORARILY_CLOSED_TO_ACCRUAL_AND_TREATMENT" />
      <xs:enumeration value="TEMPORARILY_CLOSED_TO_ACCRUAL" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="StudyOrganizationType" abstract="true">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="healthcareSite" type="HealthcareSiteType" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="studyInvestigator" type="StudyInvestigatorType" />
    </xs:sequence>
    <xs:attribute name="gridId" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="RandomizationType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="type" type="RandomizationTypeValue" />
      <xs:element minOccurs="0" maxOccurs="1" name="phoneNumber" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StudyInvestigatorType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="roleCode" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="statusCode" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="startDate" type="xs:date" />
      <xs:element minOccurs="0" maxOccurs="1" name="endDate" type="xs:date" />
      <xs:element minOccurs="1" maxOccurs="1" name="healthcareSiteInvestigator" type="HealthcareSiteInvestigatorType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StudySiteType">
    <xs:complexContent mixed="false">
      <xs:extension base="StudyOrganizationType">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="siteStudyStatus" type="SiteStudyStatusType" />
           <xs:element minOccurs="0" maxOccurs="1" name="irbApprovalDate" type="xs:date" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="SiteStudyStatusType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ACTIVE" />
      <xs:enumeration value="PENDING" />
      <xs:enumeration value="AMENDMENT_PENDING" />
      <xs:enumeration value="CLOSED_TO_ACCRUAL_AND_TREATMENT" />
      <xs:enumeration value="CLOSED_TO_ACCRUAL" />
      <xs:enumeration value="TEMPORARILY_CLOSED_TO_ACCRUAL_AND_TREATMENT" />
      <xs:enumeration value="TEMPORARILY_CLOSED_TO_ACCRUAL" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="PaymentMethodType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Private Insurance" />
      <xs:enumeration value="Medicare" />
      <xs:enumeration value="Medicare And Private Insurance" />
      <xs:enumeration value="Medicaid" />
      <xs:enumeration value="Medicaid And Medicare" />
      <xs:enumeration value="Self Pay (No Insurance)" />
      <xs:enumeration value="No Means Of Payment (No Insurance)" />
      <xs:enumeration value="Military Sponsored" />
      <xs:enumeration value="Veterans Sponsored" />
      <xs:enumeration value="Military Or Veterans Sponsored Nos" />
      <xs:enumeration value="Other" />
      <xs:enumeration value="Unknown" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="OrganizationAssignedIdentifierTypeValue">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CTEP" />
      <xs:enumeration value="NCI" />
      <xs:enumeration value="AI" />
      <xs:enumeration value="COORDINATING_CENTER_IDENTIFIER" />
      <xs:enumeration value="COORDINATING_CENTER_ASSIGNED_STUDY_SUBJECT_IDENTIFIER" />
      <xs:enumeration value="CLINICAL_TRIALS_GOV_IDENTIFIER" />
      <xs:enumeration value="COOPERATIVE_GROUP_IDENTIFIER" />
      <xs:enumeration value="LOCAL" />
      <xs:enumeration value="STUDY_FUNDING_SPONSOR" />
      <xs:enumeration value="MRN" />
      <xs:enumeration value="PROTOCOL_AUTHORITY_IDENTIFIER" />
      <xs:enumeration value="C3D_IDENTIFIER" />
      <xs:enumeration value="C3PR" />
      <xs:enumeration value="SITE_IRB_IDENTIFIER" />
      <xs:enumeration value="SITE_IDENTIFIER" />
      <xs:enumeration value="STUDY_SUBJECT_IDENTIFIER" />
      <xs:enumeration value="GRID_IDENTIFIER" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="StudyFundingSponsorType">
    <xs:complexContent mixed="false">
      <xs:extension base="StudyOrganizationType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="StudyCoordinatingCenterType">
    <xs:complexContent mixed="false">
      <xs:extension base="StudyOrganizationType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="StudyDiseaseType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="leadDisease" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="diseaseTerm" type="DiseaseTermType" />
    </xs:sequence>
    <xs:attribute name="gridId" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="ICD9DiseaseSiteType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="name" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="code" type="xs:string" />
    </xs:sequence>
    <xs:attribute name="gridId" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="DiseaseHistoryType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="otherPrimaryDiseaseCode" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="otherPrimaryDiseaseSiteCode" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="studyDisease" type="StudyDiseaseType" />
      <xs:element minOccurs="0" maxOccurs="1" name="icd9DiseaseSite" type="ICD9DiseaseSiteType" />
    </xs:sequence>
    <xs:attribute name="gridId" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="StratificationCriterionType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="questionNumber" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="questionText" type="xs:string" />
      <xs:element minOccurs="2" maxOccurs="unbounded" name="permissibleAnswer" type="StratificationCriterionPermissibleAnswerType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StratificationCriterionPermissibleAnswerType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="answerText" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>