codebase/projects/core/resources/xsd/summary-report.xsd

<?xml version="1.0" encoding="utf-8"?>
	<!--
		Created with Liquid XML Studio 6.1.13.0 - FREE Community Edition
		(http://www.liquid-technologies.com)
	-->
<xs:schema xmlns="gme://ccts.cabig/1.0/gov.nih.nci.cabig.ccts.domain"
	elementFormDefault="qualified" targetNamespace="gme://ccts.cabig/1.0/gov.nih.nci.cabig.ccts.domain"
	xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:annotation>
		<xs:documentation xml:lang="en">Summary Report schema</xs:documentation>
	</xs:annotation>
	<xs:complexType name="LocalHealthcareSiteType">
		<xs:complexContent mixed="false">
			<xs:extension base="HealthcareSiteType">
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RegistrationCountMapType">
		<xs:all>
			<element name="key" type="xs:string" />
			<element name="value" type="xs:integer" />
		</xs:all>
	</xs:complexType>
	<xs:complexType name="reportDiseaseEntryType">
		<xs:all>
			<element name="key" type="DiseaseSiteType" />
			<element name="value" type="RegistrationCountMapType" />
		</xs:all>
	</xs:complexType>
	<xs:complexType name="HealthcareSiteType" abstract="true">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="1" name="name" type="xs:string" />
			<xs:element minOccurs="1" maxOccurs="1" name="nciInstituteCode"
				type="xs:string" />
		</xs:sequence>
		<xs:attribute name="gridId" type="xs:string" />
	</xs:complexType>
	<xs:complexType name="DiseaseSiteType">
		<xs:attribute name="name" type="xs:string" />
	</xs:complexType>
	<xs:complexType name="Summary3Report">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="1" name="reportingSource"
				type="xs:string" />
			<xs:element minOccurs="0" maxOccurs="1" name="startDate"
				type="xs:date" />
			<xs:element minOccurs="0" maxOccurs="1" name="endDate"
				type="xs:date" />
			<xs:element minOccurs="0" maxOccurs="1"
				name="reportingOrganization" type="HealthcareSiteType" />
			<xs:element minOccurs="0" maxOccurs="unbounded" name="reportData"
				type="reportDiseaseEntryType" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>
