codebase/projects/grid/StudyService/schema/StudyService/StudyService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://studyservice.grid.c3pr.cabig.duke.edu/StudyService" xmlns:wsrp="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.xsd" xmlns:wsrlw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime-1.2-draft-01.wsdl" xmlns:wsdlpp="http://www.globus.org/namespaces/2004/10/WSDLPreprocessor" xmlns:gtwsdl1="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ServiceGroup-1.2-draft-01.wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/03/addressing" xmlns:wsntw="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification-1.2-draft-01.wsdl" xmlns:wsrbfw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.wsdl" xmlns:wsrpw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" xmlns:wns0="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" xmlns:wns1="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity" xmlns:ns1="http://studyservice.grid.c3pr.cabig.duke.edu/StudyService/types" xmlns:ns2="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.security" xmlns:ns0="gme://ccts.cabig/1.0/gov.nih.nci.cabig.ccts.domain" name="StudyService" targetNamespace="http://studyservice.grid.c3pr.cabig.duke.edu/StudyService">
  <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" location="../wsrf/properties/WS-ResourceProperties.wsdl" />
  <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.wsdl" location="../wsrf/faults/WS-BaseFaults.wsdl" />
  <import namespace="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification-1.2-draft-01.wsdl" location="../wsrf/notification/WS-BaseN.wsdl" />
  <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" location="./../wsrf/properties/WS-ResourceProperties.wsdl" />
  <import namespace="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity" location="./ServiceSecurity.wsdl" />
  <!--============================================================

                      T Y P E S
                      
  ============================================================-->
  <types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsrbf="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.xsd" targetNamespace="http://studyservice.grid.c3pr.cabig.duke.edu/StudyService" elementFormDefault="qualified" attributeFormDefault="unqualified">
      <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.xsd" schemaLocation="../wsrf/faults/WS-BaseFaults.xsd" />
      <import namespace="http://studyservice.grid.c3pr.cabig.duke.edu/StudyService/types" schemaLocation="./StudyServiceTypes.xsd" />
      <import namespace="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.security" schemaLocation="./xsd/cagrid/types/security/security.xsd" />
      <import namespace="gme://ccts.cabig/1.0/gov.nih.nci.cabig.ccts.domain" schemaLocation="./c3pr-domain.xsd" />
      <element name="ActivateStudySiteRequest">
        <complexType>
          <sequence>
            <element name="message">
              <complexType>
                <sequence>
                  <element ref="ns0:Message" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="ActivateStudySiteResponse">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="AmendStudyRequest">
        <complexType>
          <sequence>
            <element name="message">
              <complexType>
                <sequence>
                  <element ref="ns0:Message" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="AmendStudyResponse">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="CloseStudyToAccrualRequest">
        <complexType>
          <sequence>
            <element name="message">
              <complexType>
                <sequence>
                  <element ref="ns0:Message" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="CloseStudyToAccrualResponse">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="CloseStudySiteToAccrualRequest">
        <complexType>
          <sequence>
            <element name="message">
              <complexType>
                <sequence>
                  <element ref="ns0:Message" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="CloseStudySiteToAccrualResponse">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="CreateStudyDefinitionRequest">
        <complexType>
          <sequence>
            <element name="message">
              <complexType>
                <sequence>
                  <element ref="ns0:Message" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="CreateStudyDefinitionResponse">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="OpenStudyRequest">
        <complexType>
          <sequence>
            <element name="message">
              <complexType>
                <sequence>
                  <element ref="ns0:Message" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="OpenStudyResponse">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="UpdateStudySiteProtocolVersionRequest">
        <complexType>
          <sequence>
            <element name="message">
              <complexType>
                <sequence>
                  <element ref="ns0:Message" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="UpdateStudySiteProtocolVersionResponse">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="UpdateStudyRequest">
        <complexType>
          <sequence>
            <element name="message">
              <complexType>
                <sequence>
                  <element ref="ns0:Message" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="UpdateStudyResponse">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="GetStudyRequest">
        <complexType>
          <sequence>
            <element name="message">
              <complexType>
                <sequence>
                  <element ref="ns0:Message" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="GetStudyResponse">
        <complexType>
          <sequence>
            <element ref="ns0:Message" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="CloseStudyToAccrualAndTreatmentRequest">
        <complexType>
          <sequence>
            <element name="message">
              <complexType>
                <sequence>
                  <element ref="ns0:Message" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="CloseStudyToAccrualAndTreatmentResponse">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="TemporarilyCloseStudyToAccrualRequest">
        <complexType>
          <sequence>
            <element name="message">
              <complexType>
                <sequence>
                  <element ref="ns0:Message" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="TemporarilyCloseStudyToAccrualResponse">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="TemporarilyCloseStudyToAccrualAndTreatmentRequest">
        <complexType>
          <sequence>
            <element name="message">
              <complexType>
                <sequence>
                  <element ref="ns0:Message" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="TemporarilyCloseStudyToAccrualAndTreatmentResponse">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="CloseStudySiteToAccrualAndTreatmentRequest">
        <complexType>
          <sequence>
            <element name="message">
              <complexType>
                <sequence>
                  <element ref="ns0:Message" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="CloseStudySiteToAccrualAndTreatmentResponse">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="TemporarilyCloseStudySiteToAccrualAndTreatmentRequest">
        <complexType>
          <sequence>
            <element name="message">
              <complexType>
                <sequence>
                  <element ref="ns0:Message" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="TemporarilyCloseStudySiteToAccrualAndTreatmentResponse">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="TemporarilyCloseStudySiteToAccrualRequest">
        <complexType>
          <sequence>
            <element name="message">
              <complexType>
                <sequence>
                  <element ref="ns0:Message" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="TemporarilyCloseStudySiteToAccrualResponse">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="StudyServiceResourceProperties">
        <complexType>
          <sequence />
        </complexType>
      </element>
    </schema>
  </types>
  <!--  place service messages here -->
  <message name="ActivateStudySiteRequest">
    <part name="parameters" element="tns:ActivateStudySiteRequest" />
  </message>
  <message name="ActivateStudySiteResponse">
    <part name="parameters" element="tns:ActivateStudySiteResponse" />
  </message>
  <message name="AmendStudyRequest">
    <part name="parameters" element="tns:AmendStudyRequest" />
  </message>
  <message name="AmendStudyResponse">
    <part name="parameters" element="tns:AmendStudyResponse" />
  </message>
  <message name="CloseStudyToAccrualRequest">
    <part name="parameters" element="tns:CloseStudyToAccrualRequest" />
  </message>
  <message name="CloseStudyToAccrualResponse">
    <part name="parameters" element="tns:CloseStudyToAccrualResponse" />
  </message>
  <message name="CloseStudySiteToAccrualRequest">
    <part name="parameters" element="tns:CloseStudySiteToAccrualRequest" />
  </message>
  <message name="CloseStudySiteToAccrualResponse">
    <part name="parameters" element="tns:CloseStudySiteToAccrualResponse" />
  </message>
  <message name="CreateStudyDefinitionRequest">
    <part name="parameters" element="tns:CreateStudyDefinitionRequest" />
  </message>
  <message name="CreateStudyDefinitionResponse">
    <part name="parameters" element="tns:CreateStudyDefinitionResponse" />
  </message>
  <message name="OpenStudyRequest">
    <part name="parameters" element="tns:OpenStudyRequest" />
  </message>
  <message name="OpenStudyResponse">
    <part name="parameters" element="tns:OpenStudyResponse" />
  </message>
  <message name="UpdateStudySiteProtocolVersionRequest">
    <part name="parameters" element="tns:UpdateStudySiteProtocolVersionRequest" />
  </message>
  <message name="UpdateStudySiteProtocolVersionResponse">
    <part name="parameters" element="tns:UpdateStudySiteProtocolVersionResponse" />
  </message>
  <message name="UpdateStudyRequest">
    <part name="parameters" element="tns:UpdateStudyRequest" />
  </message>
  <message name="UpdateStudyResponse">
    <part name="parameters" element="tns:UpdateStudyResponse" />
  </message>
  <message name="GetStudyRequest">
    <part name="parameters" element="tns:GetStudyRequest" />
  </message>
  <message name="GetStudyResponse">
    <part name="parameters" element="tns:GetStudyResponse" />
  </message>
  <message name="CloseStudyToAccrualAndTreatmentRequest">
    <part name="parameters" element="tns:CloseStudyToAccrualAndTreatmentRequest" />
  </message>
  <message name="CloseStudyToAccrualAndTreatmentResponse">
    <part name="parameters" element="tns:CloseStudyToAccrualAndTreatmentResponse" />
  </message>
  <message name="TemporarilyCloseStudyToAccrualRequest">
    <part name="parameters" element="tns:TemporarilyCloseStudyToAccrualRequest" />
  </message>
  <message name="TemporarilyCloseStudyToAccrualResponse">
    <part name="parameters" element="tns:TemporarilyCloseStudyToAccrualResponse" />
  </message>
  <message name="TemporarilyCloseStudyToAccrualAndTreatmentRequest">
    <part name="parameters" element="tns:TemporarilyCloseStudyToAccrualAndTreatmentRequest" />
  </message>
  <message name="TemporarilyCloseStudyToAccrualAndTreatmentResponse">
    <part name="parameters" element="tns:TemporarilyCloseStudyToAccrualAndTreatmentResponse" />
  </message>
  <message name="CloseStudySiteToAccrualAndTreatmentRequest">
    <part name="parameters" element="tns:CloseStudySiteToAccrualAndTreatmentRequest" />
  </message>
  <message name="CloseStudySiteToAccrualAndTreatmentResponse">
    <part name="parameters" element="tns:CloseStudySiteToAccrualAndTreatmentResponse" />
  </message>
  <message name="TemporarilyCloseStudySiteToAccrualAndTreatmentRequest">
    <part name="parameters" element="tns:TemporarilyCloseStudySiteToAccrualAndTreatmentRequest" />
  </message>
  <message name="TemporarilyCloseStudySiteToAccrualAndTreatmentResponse">
    <part name="parameters" element="tns:TemporarilyCloseStudySiteToAccrualAndTreatmentResponse" />
  </message>
  <message name="TemporarilyCloseStudySiteToAccrualRequest">
    <part name="parameters" element="tns:TemporarilyCloseStudySiteToAccrualRequest" />
  </message>
  <message name="TemporarilyCloseStudySiteToAccrualResponse">
    <part name="parameters" element="tns:TemporarilyCloseStudySiteToAccrualResponse" />
  </message>
  <!--============================================================

                       P O R T T Y P E
                      
  ============================================================-->
  <portType name="StudyServicePortType" wsrp:ResourceProperties="tns:StudyServiceResourceProperties">
    <operation name="activateStudySite">
      <input message="tns:ActivateStudySiteRequest" wsa:Action="http://studyservice.grid.c3pr.cabig.duke.edu/StudyService/ActivateStudySiteRequest" />
      <output message="tns:ActivateStudySiteResponse" wsa:Action="http://studyservice.grid.c3pr.cabig.duke.edu/StudyService/ActivateStudySiteResponse" />
    </operation>
    <operation name="amendStudy">
      <input message="tns:AmendStudyRequest" wsa:Action="http://studyservice.grid.c3pr.cabig.duke.edu/StudyService/AmendStudyRequest" />
      <output message="tns:AmendStudyResponse" wsa:Action="http://studyservice.grid.c3pr.cabig.duke.edu/StudyService/AmendStudyResponse" />
    </operation>
    <operation name="closeStudyToAccrual">
      <input message="tns:CloseStudyToAccrualRequest" wsa:Action="http://studyservice.grid.c3pr.cabig.duke.edu/StudyService/CloseStudyToAccrualRequest" />
      <output message="tns:CloseStudyToAccrualResponse" wsa:Action="http://studyservice.grid.c3pr.cabig.duke.edu/StudyService/CloseStudyToAccrualResponse" />
    </operation>
    <operation name="closeStudySiteToAccrual">
      <input message="tns:CloseStudySiteToAccrualRequest" wsa:Action="http://studyservice.grid.c3pr.cabig.duke.edu/StudyService/CloseStudySiteToAccrualRequest" />
      <output message="tns:CloseStudySiteToAccrualResponse" wsa:Action="http://studyservice.grid.c3pr.cabig.duke.edu/StudyService/CloseStudySiteToAccrualResponse" />
    </operation>
    <operation name="createStudyDefinition">
      <input message="tns:CreateStudyDefinitionRequest" wsa:Action="http://studyservice.grid.c3pr.cabig.duke.edu/StudyService/CreateStudyDefinitionRequest" />
      <output message="tns:CreateStudyDefinitionResponse" wsa:Action="http://studyservice.grid.c3pr.cabig.duke.edu/StudyService/CreateStudyDefinitionResponse" />
    </operation>
    <operation name="openStudy">
      <input message="tns:OpenStudyRequest" wsa:Action="http://studyservice.grid.c3pr.cabig.duke.edu/StudyService/OpenStudyRequest" />
      <output message="tns:OpenStudyResponse" wsa:Action="http://studyservice.grid.c3pr.cabig.duke.edu/StudyService/OpenStudyResponse" />
    </operation>
    <operation name="updateStudySiteProtocolVersion">
      <input message="tns:UpdateStudySiteProtocolVersionRequest" wsa:Action="http://studyservice.grid.c3pr.cabig.duke.edu/StudyService/UpdateStudySiteProtocolVersionRequest" />
      <output message="tns:UpdateStudySiteProtocolVersionResponse" wsa:Action="http://studyservice.grid.c3pr.cabig.duke.edu/StudyService/UpdateStudySiteProtocolVersionResponse" />
    </operation>
    <operation name="updateStudy">
      <input message="tns:UpdateStudyRequest" wsa:Action="http://studyservice.grid.c3pr.cabig.duke.edu/StudyService/UpdateStudyRequest" />
      <output message="tns:UpdateStudyResponse" wsa:Action="http://studyservice.grid.c3pr.cabig.duke.edu/StudyService/UpdateStudyResponse" />
    </operation>
    <operation name="getStudy">
      <input message="tns:GetStudyRequest" wsa:Action="http://studyservice.grid.c3pr.cabig.duke.edu/StudyService/GetStudyRequest" />
      <output message="tns:GetStudyResponse" wsa:Action="http://studyservice.grid.c3pr.cabig.duke.edu/StudyService/GetStudyResponse" />
    </operation>
    <operation name="closeStudyToAccrualAndTreatment">
      <input message="tns:CloseStudyToAccrualAndTreatmentRequest" wsa:Action="http://studyservice.grid.c3pr.cabig.duke.edu/StudyService/CloseStudyToAccrualAndTreatmentRequest" />
      <output message="tns:CloseStudyToAccrualAndTreatmentResponse" wsa:Action="http://studyservice.grid.c3pr.cabig.duke.edu/StudyService/CloseStudyToAccrualAndTreatmentResponse" />
    </operation>
    <operation name="temporarilyCloseStudyToAccrual">
      <input message="tns:TemporarilyCloseStudyToAccrualRequest" wsa:Action="http://studyservice.grid.c3pr.cabig.duke.edu/StudyService/TemporarilyCloseStudyToAccrualRequest" />
      <output message="tns:TemporarilyCloseStudyToAccrualResponse" wsa:Action="http://studyservice.grid.c3pr.cabig.duke.edu/StudyService/TemporarilyCloseStudyToAccrualResponse" />
    </operation>
    <operation name="temporarilyCloseStudyToAccrualAndTreatment">
      <input message="tns:TemporarilyCloseStudyToAccrualAndTreatmentRequest" wsa:Action="http://studyservice.grid.c3pr.cabig.duke.edu/StudyService/TemporarilyCloseStudyToAccrualAndTreatmentRequest" />
      <output message="tns:TemporarilyCloseStudyToAccrualAndTreatmentResponse" wsa:Action="http://studyservice.grid.c3pr.cabig.duke.edu/StudyService/TemporarilyCloseStudyToAccrualAndTreatmentResponse" />
    </operation>
    <operation name="closeStudySiteToAccrualAndTreatment">
      <input message="tns:CloseStudySiteToAccrualAndTreatmentRequest" wsa:Action="http://studyservice.grid.c3pr.cabig.duke.edu/StudyService/CloseStudySiteToAccrualAndTreatmentRequest" />
      <output message="tns:CloseStudySiteToAccrualAndTreatmentResponse" wsa:Action="http://studyservice.grid.c3pr.cabig.duke.edu/StudyService/CloseStudySiteToAccrualAndTreatmentResponse" />
    </operation>
    <operation name="temporarilyCloseStudySiteToAccrualAndTreatment">
      <input message="tns:TemporarilyCloseStudySiteToAccrualAndTreatmentRequest" wsa:Action="http://studyservice.grid.c3pr.cabig.duke.edu/StudyService/TemporarilyCloseStudySiteToAccrualAndTreatmentRequest" />
      <output message="tns:TemporarilyCloseStudySiteToAccrualAndTreatmentResponse" wsa:Action="http://studyservice.grid.c3pr.cabig.duke.edu/StudyService/TemporarilyCloseStudySiteToAccrualAndTreatmentResponse" />
    </operation>
    <operation name="temporarilyCloseStudySiteToAccrual">
      <input message="tns:TemporarilyCloseStudySiteToAccrualRequest" wsa:Action="http://studyservice.grid.c3pr.cabig.duke.edu/StudyService/TemporarilyCloseStudySiteToAccrualRequest" />
      <output message="tns:TemporarilyCloseStudySiteToAccrualResponse" wsa:Action="http://studyservice.grid.c3pr.cabig.duke.edu/StudyService/TemporarilyCloseStudySiteToAccrualResponse" />
    </operation>
    <wsdl:operation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="GetMultipleResourceProperties">
      <wsdl:input name="GetMultipleResourcePropertiesRequest" message="wsrpw:GetMultipleResourcePropertiesRequest" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetMultipleResourceProperties" />
      <wsdl:output name="GetMultipleResourcePropertiesResponse" message="wsrpw:GetMultipleResourcePropertiesResponse" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetMultipleResourcePropertiesResponse" />
      <wsdl:fault name="ResourceUnknownFault" message="wsrpw:ResourceUnknownFault" />
      <wsdl:fault name="InvalidResourcePropertyQNameFault" message="wsrpw:InvalidResourcePropertyQNameFault" />
    </wsdl:operation>
    <wsdl:operation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="GetResourceProperty">
      <wsdl:input name="GetResourcePropertyRequest" message="wsrpw:GetResourcePropertyRequest" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetResourceProperty" />
      <wsdl:output name="GetResourcePropertyResponse" message="wsrpw:GetResourcePropertyResponse" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetResourcePropertyResponse" />
      <wsdl:fault name="ResourceUnknownFault" message="wsrpw:ResourceUnknownFault" />
      <wsdl:fault name="InvalidResourcePropertyQNameFault" message="wsrpw:InvalidResourcePropertyQNameFault" />
    </wsdl:operation>
    <wsdl:operation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="QueryResourceProperties">
      <wsdl:input name="QueryResourcePropertiesRequest" message="wsrpw:QueryResourcePropertiesRequest" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/QueryResourceProperties" />
      <wsdl:output name="QueryResourcePropertiesResponse" message="wsrpw:QueryResourcePropertiesResponse" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/QueryResourcePropertiesResponse" />
      <wsdl:fault name="ResourceUnknownFault" message="wsrpw:ResourceUnknownFault" />
      <wsdl:fault name="InvalidResourcePropertyQNameFault" message="wsrpw:InvalidResourcePropertyQNameFault" />
      <wsdl:fault name="UnknownQueryExpressionDialectFault" message="wsrpw:UnknownQueryExpressionDialectFault" />
      <wsdl:fault name="InvalidQueryExpressionFault" message="wsrpw:InvalidQueryExpressionFault" />
      <wsdl:fault name="QueryEvaluationErrorFault" message="wsrpw:QueryEvaluationErrorFault" />
    </wsdl:operation>
    <operation name="getServiceSecurityMetadata">
      <input message="wns1:GetServiceSecurityMetadataRequest" wsa:Action="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity/GetServiceSecurityMetadataRequest" />
      <output message="wns1:GetServiceSecurityMetadataResponse" wsa:Action="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity/GetServiceSecurityMetadataResponse" />
    </operation>
  </portType>
</definitions>

